.qg-container {
  margin-top: 3rem;
  display: grid;
  place-items: center;
  border: 1px solid black;
  padding: 2rem 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.qg-container button {
  font-size: .90rem;
}

