.sl-container {
  background-color: white;
  border: 2px dashed black;
  margin: 1%;
}

.sl-danger {
  background: lightpink;
  font-size: 0.75 rem;
}

.sl-danger:hover {
  background-color: rgb(253, 28, 65);
}

.sl-item-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2%;
  flex-direction: column;
}

.sl-item-container li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
}

.sl-item-container p {
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.15rem;
}

.incomplete p {
  cursor: pointer;
}

.complete p {
  text-decoration: line-through;
  opacity: 25%;
  cursor: pointer;
}

#sl-error {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2%;
  margin: 5%;
  background-color: none;
  color: black;
  font-size: 0.85rem;
}
