.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  min-width: 50%;
  height: 20rem;
  position: relative;
}

.slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  position: relative;
  color: white;
}

.slide-content img {
  width: 17rem;
  height: 17rem;
  border-radius: 5%;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 5px 5px black;
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: bolder;
  width: 1.25rem;
  padding: 2px 4px;
  cursor: pointer;
  user-select: none;
}

.left-arrow :hover,
.right-arrow :hover {
  cursor: pointer;
}

.left-arrow {
  left: 1%;
  bottom: 50%;
}

.right-arrow {
  right: 1%;
  bottom: 50%;
}
