.faq-container h2 {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 20px 0;
  color: black;
}

.question-container button {
  background: #99E1D9;
  color: black;
  border-radius: 5px;
  min-width: 2rem;
  font-size: 30px;
}

.question-container div {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 0px;
  border: 1px solid black;
  transition: transform 0.2s ease;
  border-radius: 5px;
}

.question-container p {
  padding-bottom: 20px;
}

.question-container > div.closed {
  margin-bottom: 20px;
}

.question-container div:hover {
  transform: scale(1.02);
  cursor:pointer;
}